.container {
  padding: var(--spacing) var(--spacing4);
  border: 1px solid var(--tiffany-blue);
  border-radius: 4px;
  transition: background-color var(--transition-default-timing);
  background-color: transparent;
  color: var(--tiffany-blue);
}

.container:hover,
.container:active {
  background-color: var(--white);
}

/* Title */
.title {
  margin-right: var(--spacing);
}

/* Badge */
.badge {
  padding: 4px var(--spacing3);
  border-radius: 30px;
  background-color: var(--tiffany-blue);
  color: var(--erie-black);
}